/*VARIABLES*/
:root{
    --bs-primary-50: #0d6efd7f;
    --bs-primary-25: #0d6efd40;
}
/*TABLE CON SCROOLL>>>*/
thead tr th { 
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #ffffff;
}

.table-responsive { 
    padding: 0;
    height:200px;
    overflow:auto;
    scrollbar-color: rgba(207,226,255,1) rgba(255,255,255,1);/*rgba(0,0,0,0.5) rgba(96,96,96,1); */
    scrollbar-width: thin;
}
/*<<<TABLE CON SCROOLL*/

/*SHADOW PERSONALIZADO>>>*/
.shadow{
    box-shadow: .5rem .5rem .5rem rgba(0,0,0,0.75)!important;
}
.shadow-up{
    box-shadow: 0 -0.5rem .5rem rgba(0,0,0,.33)!important;
}
/*<<<SHADOW PERSONALIZADO*/

.text-orange{
    color: var(--bs-orange);
}
.bg-orange{
    background-color: var(--bs-orange);
}
.muted{
    color: rgba(110,110,110,1);
    background-color: rgba(220,220,220,1);
}
/*EXPANSION DEL ROUNDED DE BOOTSTRAP>>>*/
.rounded-4{
    border-radius: 0.35rem !important;
}
.rounded-5{
    border-radius: 0.4rem !important;
}
.rounded-6{
    border-radius: 0.45rem !important;
}
.rounded-7{
    border-radius: 0.5rem !important;
}
.rounded-8{
    border-radius: 0.55rem !important;
}
.rounded-9{
    border-radius: 0.6rem !important;
}
.rounded-10{
    border-radius: 0.65rem !important;
}
/*<<<EXPANSION DEL ROUNDED DE BOOTSTRAP*/

/*FONDO DE LA PAGINA>>>*/
body{
    background-image: url("/img/background.jpg");
    background-color: black;
    background-attachment: fixed;
    background-position: center center;
}
/*<<<FONDO DE LA PAGINA*/

/*CURSOR PERSONALIZADO>>>*/
#resultadoConsulta tbody tr{
    /*cursor: url("../img/fa_edit_16.png") 5 11, pointer;*/
}
/*<<<CURSOR PERSONALIZADO*/

/*SELECCION DE TEXTO>>>*/
*::selection{
    background: black;
    color: var(--bs-orange);  
}
/*<<<SELECCION DE TEXTO*/

/*SELECCION POR FILTRO>>>*/
span.highlight{
    /*background: var(--bs-primary);/*rgba(0,0,0,1);
    color: white;/*rgba(255,192,64,1);  
    font-size-adjust: 0.66;
    font-weight: bold;
    padding-right: 0.25em;
    padding-left: 0.25em;
    margin-right: 0.25em;
    margin-left: 0.25em;
    box-shadow: 0 0 10px 1px var(--bs-primary) , 0 0 5px 1px rgba(255,255,255,1), 0 0 0 1px rgba(255,255,255,1) inset;
    border-radius: 0.25rem;*/
    background: yellow;
    color: black;
    font-weight: bold;
}
/*<<<SELECCION POR FILTRO*/

/*TOOLTIP PERSONALIZADO>>>*/
/*.tooltip-inner{
    color: rgba(63,255,160);   
    background-color: transparent;
    text-shadow:
        0px 0px 2px black
        ,0px 0px 2px black
        ,0px 0px 2px black
        ,0px 0px 2px black
        ,0px 0px 2px black        
        ,0px 0px 3px rgba(255,191,0,1)
        ,0px 0px 3px rgba(255,191,0,1)
        ,0px 0px 4px rgba(255,191,0,1)        
        ,0px 0px 5px rgba(255,191,0,1)
        
       ;
}*/
/*.tooltip{
    opacity:1!important;
}
.tooltip-inner{    
    max-width: ;
    padding: 1rem;
    background-color: white;
    color: var(--bs-primary);
    border-radius: 1rem;
    box-shadow: 0 0 10px 1px var(--bs-primary-50),0 0 4px 1px rgba(0,0,0,0.5), 0 0 10px 1px var(--bs-primary-50) inset;0 0 10px 1px rgba(255,192,64,1) , 0 0 1px 1px rgba(255,255,255,1), 0 0 0 1px rgba(255,255,255,1) inset;
}
.bs-tooltip-top .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow::before {
  top: -1px;
  border-width: 0.4rem 0.4rem 0;
  border-top-color: rgba(200,222,255);
}
.bs-tooltip-end .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow::before {
  right: -1px;
  border-width: 0.4rem 0.4rem 0.4rem 0;
  border-right-color: rgba(200,222,255);
}
.bs-tooltip-bottom .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow::before {
  bottom: -1px;
  border-width: 0 0.4rem 0.4rem;
  border-bottom-color: rgba(200,222,255);
}
.bs-tooltip-start .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=left] .tooltip-arrow::before {
  left: -1px;
  border-width: 0.4rem 0 0.4rem 0.4rem;
  border-left-color: rgba(200,222,255);
}*/
/*<<<TOOLTIP PERSONALIZADO*/

/*PAGINACION>>>*/
.pagination-sm > li > a
{
    background-color: var(--bs-primary);
    color: var(--bs-light);
    border-color: var(--bs-light);
}


.pagination-sm > li > a:focus,
.pagination-sm > li > a:hover,
.pagination-sm > li > span:focus,
.pagination-sm > li > span:hover
{
    color: white;
    background-color: var(--bs-primary);
    border-color: rgba(255,255,255,0.5);;
}

.pagination-sm > .active > a
{
    color: var(--bs-dark);
    background-color: var(--bs-light);
    border: solid 1px var(--bs-primary);
    
}
.page-item.active .page-link{
    user-select:none;
    background-color: white;
    color: var(--bs-primary);
    border: solid 1px var(--bs-primary);    
}
.page-item.disabled .page-link{
    user-select:none;
    color: rgba(255,255,255,0.5);
    background-color: var(--bs-primary);
    border-color: rgba(255,255,255,0.5);   
}
.pagination-sm > .active :hover
{
    background-color: white;
    color: var(--bs-primary);
    border: solid 1px var(--bs-primary);
    /*border-radius: 10px;*/    
}
.page-item:first-child .page-link {
  border-top-left-radius: 0.25rem!important;
  border-bottom-left-radius: 0.25rem!important;
}
.page-item:last-child .page-link {
  border-top-right-radius: 0.25rem!important;
  border-bottom-right-radius: 0.25rem!important;
}
/*<<<PAGINACION*/

/*ROUNDED DE LOS BOTONES EN GENERAL>>>*/
.btn{
    border-radius: 0.25rem;
    /*padding: 0.25rem 0.5rem 0.25rem 0.5rem;*/
}
/*<<<ROUNDED DE LOS BOTONES EN GENERAL*/

/*SOMBRA DE LOS CONTROLES DE FORMULARIO>>>*/
/*.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(255, 127, 0, 0.25);  
}*/
/*<<<SOMBRA DE LOS CONTROLES DE FORMULARIO*/
/*PADDING INTERMEDIO>>>*/
.p-1-50{
    padding: 0.125rem 0.125rem 0.125rem 0.125rem!important;
}
/*<<<PADDING INTERMEDIO*/
/*ICONO ANIMADO DE LOS BOTONES>>>*/
.btn i{
    opacity:0.75;
}
.btn:hover i,.btn:focus  i, a:hover i, a:focus  i{
    /*font-size: 20px;
    transition: 0.5s;
    -webkit-transition: 0.5s;*/
    /**/
    transform: scale(1.3);
    opacity: 1;
    transition: 0.3s;
    animation: 1s linear infinite parpadeo-latido;
    /**/
}
.btn:active i, a:active i{    
    animation:unset;
    transform: scale(1);
    opacity: 1;
    transition: 0s;
    /*animation: 0.0625s linear 1 clickeado;*/
}

/*<<<ICONO ANIMADO DE LOS BOTONES*/

/*ANIMACIONES>>>*/
/*parpadeo 100%*/
.blink{
	animation: 1s ease-in-out infinite parpadeo; 
} 
@keyframes parpadeo{ 
	0%{
		opacity: 1.0;
	} 
	50%{
		opacity: 0.0;
	} 
	100%{
		opacity: 1.0;
	}
}
/*parpadeo 50%*/
.blink-50{
	animation: 1s linear infinite parpadeo-50; 
} 
@keyframes parpadeo-50{ 
	0%{
		opacity: 1.0;
	} 
/*	50%{
		opacity: 0.5;
	} */
	100%{
		opacity: 0;
	}
}
@keyframes parpadeo-latido{ 
	0%{
		opacity: 1.0;
	} 
	80%{
		opacity: 0;
	} 
	100%{
		opacity: 1.0;
	}
    }  
@keyframes clickeado{ 
	0%{
		opacity: 1.0;
                transform: scale(1);
	} 	
	100%{
		opacity: 0;
                transform: scale(5);
	}
    } 
/*<<<ANIMACIONES*/

/*FORM-SWITCH VERDE/ROJO>>>*/
.form-check-input-red:checked {
    background-color: red;/*#0d6efd*/
    border-color: red;
    /*box-shadow: 0 0 0 .25rem rgba(255,0,0,.25);*/
}
.form-check-input-red:focus {
    border-color: #007700;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(0,127,0,.25);
}
.form-check-input-red:hover {
    border-color: #007700;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(0,127,0,.25);
}
.form-check-input-red:focus:checked:hover {
    border-color: #ff0000;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(255,0,0,.25);
}
.form-check-input-red:focus:checked {
    border-color: #ff0000;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(255,0,0,.25);
}
.form-check-input-red:checked:hover {
    border-color: #ff0000;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(255,0,0,.25);
}
.form-switch .form-check-input-red:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23070'/%3e%3c/svg%3e");
}
.form-switch .form-check-input-red:hover {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23070'/%3e%3c/svg%3e");
}
.form-switch .form-check-input-red:checked {
    background-position: right center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}
/*<<<FORM-SWITCH VERDE/ROJO*/

/*redefinicion de form-label de bootstrap*/
.form-label{
    border: 0;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    background-color: transparent;
}
*:fullscreen{
    overflow:auto;
}